body { /*Corps du site*/
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.menu{ /*Header du site*/
    background-color: #D9D9D9;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
}