body { /*Corps du site*/
    margin: 0%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.menu{ /*Header du site*/
    background-color: rgb(59, 160, 0);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

h1 {
    color: #fff8dc;
}

nav ul li a {
    color: #f5f5f5;
    text-decoration: none;
    font-style: italic;
}

nav ul li a:hover {
    color: #f0e68c; 
}

main {
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

footer {
    background-color: #6a5acd;
    color: #f5f5f5;
    padding: 10px;
    text-align: center;
}