body { /*Corps du site*/
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.menu{ /*Header du site*/
    background-color: #D9D9D9;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#logo-header{
    height: 95px;
}

h1 {
    color: black;
}

nav{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.link-page{
    color: black; 
    margin-left: 3%;
    width: 210px;
    font-size: 24px;
}

.bordereau{
    background-color: #070707;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-around;
}

.bordereau h1{
    display: flex;
    background-color: #BCBBBB;
    margin-top: 35px;
    width: 300px;
    height: 50px;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.bordereau p{
    display: flex;
    align-items: center;
    background-color: #BCBBBB;
    width: 920px;
    height: 170px;
    font-size: 24px;
    margin-top: 35px;
}

.shiromini{
    margin-top: 35px;
    margin-bottom: 35px;
}

.RS{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 15px;
    margin-left: -10px;
}

.social{
    height: 48px;
    margin-left: 15px;
}

/*jaquettes album*/
.discoimg{
    height: 200px;
    width: 200px;
}


nav ul li a {
    color: black; 
    text-decoration: none;
    font-style: italic;
}

nav ul li a:hover {
    color: black; 
}

main {
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

footer {
    background-color: #D9D9D9;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

#logo-footer{
    height: 150px;
}

/* menu déroulant : éléments textuels du menu*/
nav ul {
    list-style-type: none;
}

nav ul li{
    float: left;
    width: 25%;
    text-align: center;
}

nav ul::after{
    content:"";
    display: table;
    clear: both;
}

nav a{
    display: block;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
    padding: 10px 0px
}

.deroulant a:hover{
    color: orange;
    border-bottom: 2px solid gold;
}
/*éviter que le logo soit souligné en jaune aussi nav => deroulant*/



/*menu déroulant : cacher le menu + couleur de fond aux sous menus pour qu'ils se démarquent*/
.sous{
    display: none;
    
    box-shadow: 0px 1px 2px orange;
    background-color: #3a3a3a;
    opacity: 75%;
    position: absolute;
    z-index:10;
}

nav > ul li:hover .sous{
    display: block;
} 
/* Ce sélecteur permet de cibler un sous menu .sous lorsqu'un utilisateur passe sa souris sur un élément li de la liste représentant notre menu principal */

/* Afficher les sous menus les uns en dessous des autres + occupent tout l'espace dispo */

.sous li{
    float : none;
    width: 100%;
    text-align: left;
}

.sous a{
    padding: 10px;
    border-bottom: none;
}

.sous a:hover{
    border-bottom: none;
    background-color: RGBa(200,200,200,0.1);
}

.deroulant > a::after{
    content :"▼";
    font-size: 12px;
}

/*faire en sorte que le contenu du header ne soit pas poussé vers le bas avec une position absolute*/

